<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=Ibarra+Real+Nova:wght@700&family=Nunito:wght@200;300;700&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="/styles/app.scss"> -->
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Weather Journal App
        </div>

        <section class="content">
            <form class="form content" method="post" action="/api/coordination" target="_blank">
                <input type="text" name="departure" id="departure" class="dark" placeholder="departure">
                <input type="text" name="destination" id="destination" class="dark" placeholder="destination" required>
                <input type="date" name="date" id="date" class="dark">
                <input type="submit" id="submit" class="dark" class="button dark" value="Submit">
            </form>
        </section>

        <!-- <section class="content">
            <form class="form content" method="post" action="/add" target="_blank">
                <input type="text" name="destination" id="destination" class="dark" placeholder="destination" required>
                <input type="date" name="date" id="date" class="dark">
                <input type="submit" id="submit" class="dark" class="button dark" value="Submit">
            </form>
        </section> -->

        <div class=userInputBox>
            <div class="holder zip">
                <label for="destination">Enter destination here</label>
                <input type="text" id="destination" placeholder="enter zip code here">
            </div>
            <div class="holder feel">
                <label for="feelings">How are you feeling today?</label>
                <div class="feelbox">
                    <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9"
                        cols="50"></textarea>
                    <div id="generatebutton">
                        <div class="verticalcenter">
                            <button id="generate" type="submit"> Generate </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="holder entry">
            <div class="title">Most Recent Entry</div>
            <div class="holder box">
                <div id="entryHolder">
                    <!-- <h2 class="city" id="city"> </h2> -->
                    <div id="latitude"></div>
                    <div id="longitude"></div>
                    <div id="country"></div>
                    <!-- <div id="weather"></div> -->
                </div>
                <div id="picholder">
                    <div id="weatherpic"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="/js/app.js" type="text/javascript"></script> -->


</body>

</html>