body {
    background: #fffff8;
    font-family: 'Ibarra Real Nova', serif;
    background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
    background-size: cover;
    font-size: 20px;

}

#app {
    margin: 2rem 0;
    position: relative;
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    justify-content: center;
    grid-gap: 1em;

}

.headline {
    font-size: 5rem;
    color: #EBF5FB;
    justify-content: center;
    text-align: center;
    /* font-family: 'Ibarra Real Nova', serif; */
    font-family: 'Cormorant SC', serif;
    margin: 2rem;
}

label {
    color: #0c2a3d;
    display: block;
    font-size: 27px;
    font-family: 'Ibarra Real Nova', serif;
    margin: 1rem 0;
}


#entryHolder {
    padding: 0 3rem;
}



/*  Basic Styling To Override Default For Basic HTML Elements */

input {
    display: block;
    min-height: 5rem;
    width: 770.250px;
    border: 5px solid #3b4a6b;
    background: none;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
}

button {

    color: #3b4a6b;
    font-size: 26px;
    font-family: 'Cormorant SC', serif;
    border: none;
    width: 14rem;
    height: 14rem;
    background: none;
    border: none;
    transition-duration: 1s;
}

button:hover {
    background: none;
    border: 5px solid #e8d255;
    color: #fffff8;
    border-radius: 50%;
}

#generatebutton {
    position: relative;
    margin-left: 1rem;

}

.verticalcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.userInputBox {
    border: 5px solid #3b4a6b;
    padding: 2rem;
}

h1 {
    font-size: 36px;
}

textarea {
    border: 5px solid #3b4a6b;
    background: none;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
    height: 100%;
    min-height: 15rem;

}

.feelbox {
    display: flex;
    height: 100%;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #fffff8;
    font-family: 'Ibarra Real Nova', serif;

}


.entry {
    background: rgba(59, 74, 107, .4);
    margin: 1rem 0;
    padding: 2rem;

}

.box {
    display: flex;
}

#weatherpic div img {
    height: 14rem;
    width: 14rem;
    margin: 0;
    position: absolute;

}

.card {
    box-shadow: 0 4px 8px 0 #2b256e;
    transition: 0.3s;
    height: 14rem;
    width: 14rem;
    position: relative;
    left: 80%;

}

.title {
    font-size: 1.5rem;
    text-decoration: underline #0c2a3d;

}