@import './result.scss';

body {
    background: #fffff8;
    font-family: 'Ibarra Real Nova', serif;
    // background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
    // background-size: cover;
    background-image: url("https://img.freepik.com/premium-photo/travel-vacation-accessories-top-view_771335-24689.jpg");
    background-size: cover;
    font-size: 20px;
    display: flex;
    justify-content: center;


}



#app {
    // width: 600px;
    // background-image: url("https://img.freepik.com/premium-photo/items-summer-vacation-camera-passport-money-blue-background-top-view-copy-space_76158-9.jpg?w=360");
    // background-size: cover;
    // margin: 2rem 0;
    margin: 0;
    position: relative;
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    justify-content: center;
    grid-gap: 1em;

}

.headline {
    font-size: 5rem;
    color: #EBF5FB;
    justify-content: center;
    text-align: center;
    /* font-family: 'Ibarra Real Nova', serif; */
    font-family: 'Cormorant SC', serif;
    // margin: 2rem;
}

#savedtripspace,
#savedtrip {
    height: fit-content;
}

label {
    color: #0c2a3d;
    display: block;
    font-size: 27px;
    font-family: 'Ibarra Real Nova', serif;
    margin: 1rem 0;
}

.content {
    // min-width: 750px;
    min-width: 750px;
}

.hide {
    display: none;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

.required_input {
    display: block;
    min-height: 5rem;
    width: 100%;
    border: 5px solid #3b4a6b;
    background: none;
    color: #fffff8;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;

}

#submitholder {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
    position: relative;
    left: 50%;
    //-ms-transform: translateX(-50%);
    transform: translateX(-50%);

}

#submit {
    color: #fffff8;
    font-size: 26px;
    font-family: 'Cormorant SC', serif;
    //border: none;
    border: 5px solid #3b4a6b;
    margin: 3rem 0;
    min-height: 5rem;
    width: 100%;
    background: none;
    transition-duration: 1s;
}


#submit:hover {
    background: none;
    border: 5px solid #fffff8;
    color: #3b4a6b;
    border-radius: 50%;
}


// .center-v {
//     display: flex;
//     align-items: center;
// }


// #submit {
//     position: relative;
//     margin-left: 1rem;

// }
// #spacesubmit {
//     display: block;
//     margin: 2rem;
// }

// .verticalcenter {
//     margin: 1rem;
//     position: absolute;
//     left: 50%;
//     -ms-transform: translateX(-50%);
//     transform: translateX(-50%);
// }


h1 {
    font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/