input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


button {
    color: #fffff8;
    font-size: 20px;
    font-family: "Cormorant SC", serif;
    border: 3px solid #3b4a6b;
    padding: 10px 20px;
    margin: 5px;
    min-height: 2rem;
    width: 25%;
    background: none;
    transition: background-color 0.5s;
    border-radius: 5px;
    background-color: rgba(80, 110, 161, 0.373);
}


button:hover {
    background-color: rgba(147, 179, 247, 0.7);
    color: #0c2a3d;

}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #fffff8;
    font-family: 'Ibarra Real Nova', serif;

}

.disflex {
    display: block;
    background: rgba(59, 74, 107, .4);
    padding: 2rem;
    border-radius: 20px;
    width: 50rem;
    margin: 2rem;

    .box {
        padding: 3rem 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 0 0 70px 70px;
        background: rgba(147, 179, 247, 0.4);
        margin: 0.5rem 0;


    }

}

.disnone {
    display: none;
}


#weatherinfodiv,
#travelinfodiv {
    padding: 0 1rem;
    text-align: center;
}

#weatherpic img {
    height: 8rem;
    margin: 0;
    position: relative;

}


#weatherdivs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.cityholder {
    display: grid;
    grid-gap: 10px;
    position: relative;

    #citypic {
        img {
            height: 20rem;
            width: 100%;
            background-size: cover;
            border-radius: 70px 70px 0 0;

        }

        margin: 0;

    }

    .cityname {
        position: absolute;
        bottom: 20px;
        left: 10px;
    }
}

h2 {
    font-size: 2rem;
    color: #fffff8;
    margin: 1rem 0.5rem;
}

h3 {
    font-size: 1rem;
    color: #fffff8;
    margin: 1rem 0.5rem;
}

h4 {
    font-size: 1.5rem;
    color: #000;
    margin: 1rem 0.5rem;
}

h5 {
    font-size: 1.2rem;
    color: #000;
    margin: 1rem 0.5rem;
}

h6 {
    font-size: 1rem;
    color: #000;
    margin: 1rem 0.5rem;
}

.cityinfo,
.weather {
    text-decoration: underline #0c2a3d;
}

#saveli {
    border-radius: 5px;
    background-color: rgba(80, 110, 161, 0.373);
}


.title {
    font-size: 1.5rem;
    text-decoration: underline #0c2a3d;

}