input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


button {
    color: #fffff8;
    font-size: 20px;
    font-family: "Cormorant SC", serif;
    border: 3px solid #3b4a6b;
    padding: 10px 20px;
    margin: 5px;
    min-height: 2rem;
    width: 25%;
    background: none;
    transition-duration: 1s;
    border-radius: 5px;
    background-color: rgba(80, 110, 161, 0.373);
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #fffff8;
    font-family: 'Ibarra Real Nova', serif;

}

.disflex {
    display: block;
    background: rgba(59, 74, 107, .4);
    padding: 2rem;
    border-radius: 20px;
    width: 50rem;
    margin: 2rem;

    .box {
        padding: 3rem 1rem;
        // text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //border: 1px solid #000;
        border-radius: 70px 20px;
        background: rgba(147, 179, 247, 0.4);
        margin: 1rem 0;

        // .entryHolder,
        // .weatherholder {
        //     border: 1px solid #000;
        //     border-radius: 20px;
        //     background: rgba(147, 179, 247, 0.4);
        //     margin: 1rem;
        // }

    }

}

.disnone {
    display: none;
}

// .box {
//     padding: 3rem 1rem;
//     // text-align: center;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);

//     .entryHolder,
//     .weatherholder {
//         border: 1px solid #000;
//         background: rgba(196, 212, 246, 0.4);
//         margin: 1rem;
//     }

// }

#weatherinfodiv,
#travelinfodiv {
    padding: 0 1rem;
    text-align: center;
}

#weatherpic img {
    height: 8rem;
    //width: 10rem;
    margin: 0;
    position: relative;

}

// .box {
//     padding: 3rem 1rem;
//     // text-align: center;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
// }

#weatherdivs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.cityholder {
    //padding: 0 2rem;
    display: grid;
    // grid-template-rows: 100px 100px;
    grid-gap: 10px;
    position: relative;

    #citypic {
        img {
            height: 20rem;
            width: 100%;
            background-size: cover;
            // border-radius: 120px 20px 120px 20px;
            border-radius: 70px 20px;

        }

        // height: 14rem;
        // width: 14rem;
        margin: 0;

    }

    .cityname {
        position: absolute;
        bottom: 20px;
        left: 10px;
    }
}

h2 {
    font-size: 2rem;
    color: #fffff8;
    margin: 1rem 0.5rem;
}

h3 {
    font-size: 1rem;
    color: #fffff8;
    margin: 1rem 0.5rem;
}

h4 {
    font-size: 1.5rem;
    color: #000;
    margin: 1rem 0.5rem;
}

h5 {
    font-size: 1.2rem;
    color: #000;
    margin: 1rem 0.5rem;
}

h6 {
    font-size: 1rem;
    color: #000;
    margin: 1rem 0.5rem;
}

.cityinfo,
.weather {
    text-decoration: underline #0c2a3d;
}

// .card1,
// .card2 {
//     box-shadow: 0 4px 8px 0 #2b256e;
//     transition: 0.3s;
//     height: 14rem;
//     width: 14rem;
//     position: relative;
//     left: 80%;

// }



.title {
    font-size: 1.5rem;
    text-decoration: underline #0c2a3d;

}